@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />

<div class="content">
    <h2>Contact</h2>
    <div class="page-contact shadow-lg text-center">
        <div class="success">
            <i class="bi bi-check2-circle"></i>
            <h1>Merci pour votre message !</h1>
            <p>Nous vous répondrons dans les plus brefs délais.</p>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    </script>
}
    
