.content {
    width: 100%;
    font-family: "Montserrat", sans-serif;
}

    .content h2 {
        font-size: 3em;
        margin-top: 5vh;
    }

.actualite {
    width: 80%;
    border: 1px solid rgb(242, 241, 3);
    border-radius: 25px;
    margin: 3% 0;
}

.title-zone {
    padding: 1%;
    padding-left: 2%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: 1px solid rgb(242, 241, 3);
}

.head-zone {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.head-zone h3 {
    margin: 0;
    display: flex;
    font-size: 2em;
    font-weight: bold;
}

.head-zone p {
    margin: 0;
    height: max-content;
    display: flex;
}

.user-zone {
    width: 5.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-zone i {
    font-size: 2em;
}

.user-zone p {
    margin: 0;
    height: max-content;
    font-style: italic;
}

.content-zone {
    padding: 0 1em;
}

.text-zone{
    font-size: 1.25em;
    margin: 0;
    padding: 2%;
}

.add-actualite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
    border: 2px solid rgb(242, 241, 3);
    width: 80%;
    border-radius: 15px;
}

.button-text {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 10%;
}

.button-more {
    width: 10%;
}

.button-more i {
    font-size: 3em;
}

.btnAddActualite {
    background-color: rgb(32, 62, 112);
    border-radius: 15px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.btnAddActualite:hover {
    background-color: rgb(242, 241, 3);
    color: rgb(32, 62, 112);
}

.actualite-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 0 2vh 0;
}

.actualite-form input {
    width: 60%;
    padding: 1%;
    border-style: none;
    border-bottom: 1px solid rgb(242, 241, 3);
    background-color: transparent;
    color: white;
    font-size: 1.5em;
    font-weight : bold;
}

.actualite-form input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat", sans-serif;
}

.actualite-form input:focus {
    outline: none;
    background-color: transparent;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.actualite-form textarea {
    width: 100%;
    margin: 2vh 0;
    height: 20vh;
    padding: 1%;
    border-style: none;
    border-radius: 15px;
    border: 1px solid rgb(242, 241, 3);
    background-color: transparent;
    color: rgb(242, 241, 3);
    resize: none;
    font-size: 1.2em;
}

.actualite-form textarea::placeholder {
    color: white;
    font-family: "Montserrat", sans-serif;
}

.actualite-form textarea:focus {
    outline: none;
    background-color: transparent;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.btns-close{
    display: flex;
    justify-content: right;
    width: 100%;
}

.btns-close button{
    margin: 0 .5em;
}

.carouselSources {
    height: 50vh;
    overflow: hidden;
}

.carouselContainer {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    transition: transform 0.5s ease;
}

.sourceContainer {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center;
    flex-shrink: 0;
}

.imgArticle {
    height: 100%;
    width: auto; /* Idem pour la vidéo */
    max-width: none;
}

.videoArticle {
    height: 100%;
    width: auto; /* Idem pour la vidéo */
    max-width: none;
}

.source-zone {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.arrow {
    width: 2vw;
    aspect-ratio: 1;
    border-top: 5px solid rgb(242, 241, 3);
    border-right: 5px solid rgb(242, 241, 3);
    margin: 0;
    cursor: pointer;
}

.arrow-right {
    transform: rotate(45deg);
    position: inherit;
}

.arrow-left {
    transform: rotate(-135deg);
}

.upload-container {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.drop-area {
    border: 2px dashed rgb(242, 241, 3);
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.drop-area:hover {
    background-color: rgb(242, 241, 3);
    color: rgb(32, 62, 112);
}

.preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.preview-container .file-container {
    position: relative;
    margin: 10px;
}

.preview-container img,
.preview-container video {
    max-height: 30vh;
    border: 1px solid #ccc;
}

.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
    font-size: 20px;
}


