@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    background-color: rgb(32, 62, 112);
    font-family: "Montserrat", sans-serif;
    color: white;
}

html {
    font-size: 14px;
    background-color: rgb(32, 62, 112);
    font-family: "Montserrat", sans-serif;
    color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    border-bottom: 2px solid rgb(242, 241, 3);
    height: max-content;
    color: white;
    display: flex;
    justify-content: space-around;
}
.elementsRedirect {
    width: max-content;
}

.elementsRedirect ul  {
    width: max-content;
}

.elementsRedirect li{
    display: flex;
    align-items: center;
    margin : 0 1em;
    font-size: 1.2em;
}

.elementsRedirect li a:hover {
    color: rgb(242, 241, 3);
}

.navbar a {
    color: white;
}

.login-buttons {
    display: flex;
    height: max-content;
    width: max-content;
}

.iconUsr{
    font-size: 2em;
}

.iconUsr:hover {
    color: rgb(242, 241, 3);
}

footer{
    display: none;
}