@using NextGen.Model;

@model List<Question>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <h2>Foire aux Questions</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="add-question-container">
            <button id="btnAddQuestion" class="btn btn-primary btn-block" onclick="toggleForm()">Ajouter une question</button>
            <form asp-action="AddQuestion" method="post" enctype="multipart/form-data" class="question-form" id="formAddQuestion" style="display: none;">
                <div class="title-zone">
                    <input type="text" name="question" class="form-control" placeholder="Question" required />
                </div>
                <div class="content-zone">
                    <textarea name="reponse" class="form-control" placeholder="Réponse" required></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
            </form>
        </div>
    }
    @foreach(var question in Model)
    {
        <div class="question">
            <div class="title-zone">
                <h3>@question.Intitule</h3>
                <i></i>
            </div>
            <div class="content-zone">
                <div class="text-zone">
                    <p>@question.Reponse</p>
                </div>
            </div>
        </div>
    })
</div>

@section Scripts {
    <script type="text/javascript">
        function toggleForm() {
            var form = document.getElementById("formAddQuestion");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
}